{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}

<section id="about-home">
  <h2>News /</h2>
</section>

<section id="blog-container">
  <div class="blogs">
    <div class="post">
      <img src="{% static 'images/b1.jpg'%}" alt="" />
      <h3>Learn Web Development In The Easiest Way</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        eligendi laudantium iure dicta eaque, veritatis rem similique, sapiente
        magni dolorem doloribus quibusdam molestiae alias officiis cum. Tenetur
        omnis quos harum.
      </p>
      <a class="blue" href="post.html">Read More</a>
    </div>
    <div class="post">
      <img src="{% static 'images/b2.jpg'%}" alt="" />
      <h3>Learn Web Development In The Easiest Way</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        eligendi laudantium iure dicta eaque, veritatis rem similique, sapiente
        magni dolorem doloribus quibusdam molestiae alias officiis cum. Tenetur
        omnis quos harum.
      </p>
      <a class="blue" href="#">Read More</a>
    </div>
    <div class="post">
      <img src="{% static 'images/b3.jpg'%}" alt="" />
      <h3>Learn Web Development In The Easiest Way</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        eligendi laudantium iure dicta eaque, veritatis rem similique, sapiente
        magni dolorem doloribus quibusdam molestiae alias officiis cum. Tenetur
        omnis quos harum.
      </p>
      <a class="blue" href="#">Read More</a>
    </div>
    <div class="post">
      <img src="{% static 'images/b4.png'%}" alt="" />
      <h3>Learn Web Development In The Easiest Way</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        eligendi laudantium iure dicta eaque, veritatis rem similique, sapiente
        magni dolorem doloribus quibusdam molestiae alias officiis cum. Tenetur
        omnis quos harum.
      </p>
      <a class="blue" href="#">Read More</a>
    </div>
  </div>

  <div class="cate">
    <h2>Categories</h2>
    <hr />
    <a href="#">
      <p>Web Development</p>
    </a>
    <hr />
    <a href="#">
      <p>Web Design</p>
    </a>
    <hr />
    <a href="#">
      <p>App Development</p>
    </a>
    <hr />
    <a href="#">
      <p>Frontend Web</p>
    </a>
    <hr />
    <a href="#">
      <p>Python Programming</p>
    </a>
    <hr />
    <a href="#">
      <p>Javascript Hacks</p>
    </a>
  </div>
</section>

{% endblock content%}
