{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}

<section id="about-home">
  <h2>News /</h2>
</section>

<section id="blog-container">
  <div class="blogs">
    {%for blog in blogs %}
    <div class="post">
      <img src="{{blog.featured_image.url}}" alt="" height="700px" />
      <h3>{{blog.title}}</h3>
      <p>{{blog.message|slice:400}}</p>
      <a class="blue" href="{% url 'blog' blog.id%}">Read More</a>
    </div>
    {% endfor %}
  </div>

  <div class="cate">
    <h2>Categories</h2>
    <hr />
    <a href="#">
      <p>Announcement</p>
    </a>
    <hr />
    <a href="#">
      <p>Examination</p>
    </a>
    <hr />
    <a href="#">
      <p>Assignment</p>
    </a>
    <hr />
    <a href="#">
      <p>PTA Meeting</p>
    </a>
    <hr />
  </div>
</section>

{% endblock content%}
