{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}

<section id="about-home">
  <h2>Calendar of Events /</h2>
</section>
<section id="blog-container">
  <div class="blogs postpage">
    <div class="post">
      <a href="{%static 'calendar.pdf' %}" download="">
        <button
          style="
            background-color: rgb(12, 84, 139);
            color: white;
            border: 2px solid rgb(12, 84, 139);
            border-radius: 10px;
            padding: 20px 35px;
            margin-bottom: 3rem;
          "
        >
          <i class="fa fa-download"></i> &nbsp; Download the pdf version of the
          event calendar
        </button>
      </a>

      <table>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
        </tr>
        {% for event in events %}
        <tr>
          <td>{{event.event_name}}</td>
          <td>{{event.event_date}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</section>
{% endblock content %}
