{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}
<section id="about-home">
  <h2>Contact Us /</h2>
</section>

<section id="contact">
  <div class="getin">
    <h2>{{info.school_name}}</h2>
    <p>{{info.school_location}}</p>

    <div class="getin-details">
      <h3>LOCATION</h3>
      <div>
        <i class="far fa-home get"></i>
        <p>{{info.school_location}}</p>
      </div>
      <h3>Phone</h3>
      <div>
        <i class="fas fa-phone-alt get"></i>
        <p>
          (+233) {{info.first_contact}} <br />
          (+233) {{info.second_contact}}
        </p>
      </div>
      <h3>Support</h3>
      <div>
        <i class="fal fa-envelope-open-text get"></i>
        <p>{{info.email}}</p>
      </div>
      <h3>Follow Us</h3>
      <div class="pro-link">
        <a
          href="https://m.facebook.com/people/Evangelist-Ernest-Okai-Larbi/100017020574807/"
        >
          <i class="fab fa-facebook-f"></i
        ></a>
        <!-- whatsapp -->
        <a
          href="https://www.youtube.com/results?search_query=okai+larbi+ernest"
        >
          <i class="fab fa-youtube"></i
        ></a>
        <!-- linkedin -->
        <a href="https://gh.linkedin.com/in/ernest-larbi-okai-a28b4621b">
          <i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="form">
    <h4>Let’s Connect</h4>
    <p>Ask your questions</p>
    <div class="form-row">
      <input type="text" placeholder="Your Name" name="" id="" />
      <input type="text" placeholder="Your Email" name="" id="" />
    </div>
    <div class="form-col">
      <input type="text" placeholder="Title" name="" id="" />
    </div>
    <div class="form-col">
      <textarea
        name=""
        id=""
        cols="30"
        rows="8"
        placeholder="How can we help?"
      ></textarea>
    </div>
    <div class="form-col">
      <button>Send Message</button>
    </div>
  </div>
</section>

<section id="map">
  <div class="mapouter">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          class="gmap_iframe"
          width="100%"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=961&amp;height=702&amp;hl=en&amp;q=Gomoa Fetteh&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe
        ><a href="https://www.gachacute.com/">Download</a>
      </div>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          width: 100%;
          height: 702px;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          width: 100%;
          height: 702px;
        }
        .gmap_iframe {
          height: 702px !important;
        }
      </style>
    </div>
  </div>
</section>

{% endblock content%}
