{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}

<section id="about-home">
  <h2>Department Name /</h2>
</section>

<section id="course-inner">
  <div class="overview">
    <img class="course-img" src="images/c1.jpg" alt="" />
    <div class="course-head">
      <div class="c-name">
        <h2>Department Name</h2>

        <p>
          Modern JavaScript from the beginning - all the way up to JS expert
          level! THE must-have JavaScript resource in 2021.
        </p>
      </div>
    </div>
    <h3>Head Of Department</h3>
    <div class="tutor">
      <img src="images/c4.jpg" alt="" />
      <div class="tutor-det">
        <h5>John Doe</h5>
        <p>Web Developer At Google</p>
      </div>
    </div>
    <hr />
    <h3>Information About the Department</h3>
    <p>
      JavaScript is THE most important programming language you need to learn as
      a web developer - and with this course, you make sure that you will not
      miss a single thing you have to know as a JavaScript developer!
      <br /><br />
      This is the most comprehensive and modern course you can find on
      JavaScript - it's based on all my JavaScript knowledge AND teaching
      experience. It's both a complete guide, starting with the core basics of
      the language, as well as an extensive reference of the JavaScript language
      and environment, ensuring that both newcomers as well as experienced
      JavaScript developers get a lot out of this course!<br /><br />
      It's a huge course because it's packed with important knowledge and
      helpful content. From the core basics, over advanced concepts and
      JavaScript specialties, all the way up to expert topics like performance
      optimization and testing - this course has it all. My goal was to create
      your go-to resource for the JavaScript language, which you can not just
      use for learning it but also as a resource you can come back to and look
      up important topics.
    </p>
    <hr />
  </div>

  <div class="enroll">
    <h3>Teaching and Learning Materials</h3>
    <p><i class="far fa-video"></i>Tutorial Videos</p>
    <p><i class="far fa-newspaper"></i>Reading Assignments</p>
    <p><i class="far fa-cloud-download"></i>Downloadable resources</p>
    <p><i class="far fa-infinity"></i>Full lifetime access</p>
    <p><i class="fas fa-mobile-alt"></i>Online Accessment</p>
    <p><i class="far fa-paperclip"></i>Mid term examination</p>
    <p><i class="far fa-trophy-alt"></i>Final Examination</p>
    <div class="enroll-btn"></div>
  </div>
</section>
{% endblock content%}
