{% extends 'website/base.html' %} {% load static %}
<!--  -->
{% block content%}

<section id="about-home">
  <h2>{{department.name_of_department}} /</h2>
</section>

<section id="course-inner">
  <div class="overview">
    <img
      class="course-img"
      src="{{department.department_featured_image.url}}"
      alt=""
    />
    <div class="course-head">
      <div class="c-name">
        <h2>{{department.name_of_department}}</h2>

        <p>{{department.description|slice:400}}</p>
      </div>
    </div>
    <h3>Head Of Department</h3>
    <div class="tutor">
      <img src="{{department.HOD_featured_image.url}}" alt="" />
      <div class="tutor-det">
        <h5>{{department.HOD}}</h5>
        <p>Head of {{department.name_of_department}} Department</p>
      </div>
    </div>
    <hr />
    <h3>Information About the Department</h3>
    <p>{{department.description}}</p>
    <hr />
  </div>

  <div class="enroll">
    <h3>Teaching and Learning Materials</h3>
    <p><i class="far fa-video"></i>Tutorial Videos</p>
    <p><i class="far fa-newspaper"></i>Reading Assignments</p>
    <p><i class="far fa-cloud-download"></i>Downloadable resources</p>
    <p><i class="far fa-infinity"></i>Full lifetime access</p>
    <p><i class="fas fa-mobile-alt"></i>Online Accessment</p>
    <p><i class="far fa-paperclip"></i>Mid term examination</p>
    <p><i class="far fa-trophy-alt"></i>Final Examination</p>
    <div class="enroll-btn"></div>
  </div>
</section>
{% endblock content%}
