{% extends 'dashboard/base.html' %} {% load static %}
<!--  -->
{% block content %}

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team Members</h5>
          <p>Managements of ELFA Academy</p>
          <div class="binary_content">
            <a href="{% url 'add-team'%}" class="btn btn-primary">
              <i class="bi bi-align-center" style="font-size: 1.4rem"></i>Add
              New Member
            </a>
          </div>
          <!-- Table with stripped rows -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Portfolio</th>
                <th scope="col">Contact</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for team in teams %}

              <tr>
                <td>
                  <img
                    src="{% if team.featured_image %}{{team.featured_image.url}}{% endif %}"
                    alt=""
                    height="30"
                    width="35"
                    style="border-radius: 50%"
                  />
                </td>
                <td>{{team.name}}</td>
                <td>{{team.portfolio}}</td>
                <td>{{team.contact}}</td>
                <td>
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"
                      ><i class="bi bi-three-dots"></i
                    ></a>
                    <ul
                      class="dropdown-menu dropdown-menu-end dropdown-menu-arrow text-center"
                    >
                      <li>
                        <a class="dropdown-item" href="#"
                          ><a
                            href=""
                            class="btn btn-outline-info btn-sm tex text-info mx-2"
                            ><i class="bi bi-pencil"></i> Edit</a
                          ></a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <button
                            type="submit"
                            class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#delete{{fellowship.id}}"
                          >
                            <i class="bi bi-trash"></i> delete
                          </button>
                          <!-- ========================================= -->
                          <!-- ===========DELETE MODAL FORM MODAL-->
                          <!-- ======================================== -->
                          <!-- Delete modal -->
                          <div
                            class="modal"
                            id="delete{{fellowship.id}}"
                            aria-labelledby="myModalLabel2"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">
                                    You are about to delete a fellowship
                                  </h5>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true"></span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    Are you sure you want to delete
                                    fellowship.name
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Cancel
                                  </button>
                                  <form action="" method="POST">
                                    {% csrf_token %}
                                    <input
                                      type="submit"
                                      class="btn btn-danger"
                                      value="Delete"
                                    />
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- ========================================= -->
                          <!-- ===========DELETE MODAL FORM END-->
                          <!-- ======================================== --></a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

          <!-- delete button -->
          <!-- ===========delete MODAL FORM BUTTON-->
          <!-- ======================================== -->

          <!-- 
            ============================
            ============================================
            
            USE 3 DOTS FOR CRUD OPERATIONS HIDE THEM FOR RESPONSIVENES====================================
           -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
