{% extends 'dashboard/base.html' %} {% load static %}
<!--  -->
{% block content %}

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Departments</h5>
          <p>List of Departments in the school</p>
          <div class="binary_content">
            <a href="{% url 'add-blog'%}" class="btn btn-primary">
              <i class="bi bi-align-center" style="font-size: 1.4rem"></i>Add
              New Post
            </a>
          </div>
          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for blog in blogs %}
              <tr>
                <td>
                  <img
                    src="{% if blog.featured_image %}{{blog.featured_image.url}}{% endif %}"
                    alt=""
                    height="30"
                    width="35"
                    style="border-radius: 50%"
                  />
                </td>
                <td>{{blog.title}}</td>
                <td>{{blog.created}}</td>
                <td>
                  <!-- EDIT BUTTON -->
                  <a
                    href="{% url 'edit-blog' blog.id %}"
                    class="btn btn-outline-info btn-sm tex text-info mx-2"
                    ><i class="bi bi-pencil"></i>
                  </a>

                  <!-- DELETE BUTTON -->
                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#delete{{blog.id}}"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                  <!-- ========================================= -->
                  <!-- ===========DELETE MODAL FORM MODAL-->
                  <!-- ======================================== -->
                  <!-- Delete modal -->
                  <div
                    class="modal"
                    id="delete{{blog.id}}"
                    aria-labelledby="myModalLabel2"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            You are about to delete a blog
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete {{blog.title}}</p>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <form
                            action="{% url 'delete-blog' blog.id %}"
                            method="POST"
                          >
                            {% csrf_token %}
                            <input
                              type="submit"
                              class="btn btn-danger"
                              value="Delete"
                            />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>

                <!-- CRUD -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

          <!-- delete button -->
          <!-- ===========delete MODAL FORM BUTTON-->
          <!-- ======================================== -->

          <!-- 
            ============================
            ============================================
            
            USE 3 DOTS FOR CRUD OPERATIONS HIDE THEM FOR RESPONSIVENES====================================
           -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
